/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    padding-left: 8%;
    padding-right: 8%;
    margin: 0;
}
